*{
  margin: 0;
  padding: auto;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}
.logo{
  color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}
.navigation {
  /* flex: 1; */
  text-align: center;
  /* justify-content: center; */
}